@tailwind base;
@tailwind components;
@tailwind utilities;

/* button{
     background-color: green;
     border: 3px ;
     border-color: bisque;
     
}
 */
 body{
    background-color: #111;
    color: #fff;
 }